.icons-hover:hover {
    transform: scale(1.2);
    transition-duration: .5s;
    fill: #EA2340;
    background-color:transparent !important;
    filter: invert(40%) grayscale(100%) brightness(75%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
}
    
.nav-tab:hover {
    filter: invert(40%) grayscale(100%) brightness(75%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
    transform: scale(1.1);
    transition-duration: .5s;
}

.CTA-button{
    font-size: 24px;
    font-weight: 900;
    width: 300px;
    border-radius: 20px;
}

.CTA-button:hover {
    transform: scale(1.1);
}


.poppins-black-font {
    font-family: 'Poppins', sans-serif;    
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 900;
}

.poppins-black-font-listen{
    font-family: 'Poppins', sans-serif;    
    font-size: 28px;
    letter-spacing: 10px;
    font-weight: 900;
}

.playfair-font{
    font-family: 'Playfair Display';
    font-size: 55px;
    letter-spacing: 10px;
}

.poppins-font-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.copyright-mark {
    height: 27px;
}

.credentials {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.bg-black{
    background-color: black;
    color: #fff;
}

.black-font{
    color: black !important;
    width: 370px;
    height: 80px;
}

.yt-icon{
    height: 25px;
    padding-bottom: 2px;
}

.song-list {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.song-list-title {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
