{% extends 'base.html' %}
{% load static %}


{% block body-background %}

    <body style="background-image: url({% static 'img/background2.jpg' %}); background-size: cover;">

{% endblock body-background %}

{% block content %}

    <!-- MAIN -->
    <div class="row bg-black">
        <div class="col-lg-6 d-flex justify-content-around my-3">
            <h2 class="d-flex align-items-center poppins-black-font-listen">KONCERTY</h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-around my-3">
            <p></p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-4 mt-5 pl-3">
                <h2> Chciałbyś zorganizować koncert? </h2>
                <h4>Odezwij się na podany niżej adres mailowy:</h4>
                <p>kwlrec@gmail.com</p>
            </div>
            <div class="col-lg-8 mt-5">
                <img class="img-fluid" src='{% static "img/okladka.png" %}'>
            </div>
        </div>
    </div>

    <!-- END MAIN-->


{% endblock content %}