{% load static %}

<!-- FOOTER -->

    <div class="jumbotron jumbotron-fluid text-dark text-center" style="background-color: #F5EEE6;">
        <div class="container">
            <div class='row'>
                <div class="col-12">
                    <a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="mr-2 text-dark"><i class="fab fa-facebook fa-2x"></i></a> 
                    <a target="_blank" href="https://github.com/mateuszwwwrobel" class="mr-2 text-dark"><i class="fab fa-github fa-2x"></i></a> 
                    <a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="mr-2 text-dark"><i class="fab fa-youtube fa-2x"></i></a>
                    <a target="_blank" href="#" class="mr-2 text-dark"><i class="fab fa-linkedin fa-2x"></i></a>
                </div>
                <div class="col-12 mt-3">
                    <p class="lead"><img class="copyright-mark pr-1" src="{% static 'img/RegisteredTM.svg' %}">Copyright - Mateusz Wrobel 2020</p>
                </div>
            </div>
    
        </div>
    </div>

 
<!-- END FOOTER -->
