{% load static %}

<!-- FOOTER -->

    <div class="jumbotron jumbotron-fluid text-dark text-center" style="background-color: #F5EEE6;">
        <div class="container">
            <div class='row'>
                <div class="col-12 mb-2">
                    <p class="lead"><img class="copyright-mark pr-1" src="{% static 'img/RegisteredTM.svg' %}">Copyright - KWL 2021</p>
                </div>
                <div class="col-12 mt-3">
                    <p class="credentials">Created by: Mateusz Wróbel</p>
                </div>
                <div class="col-12">
                    <a target="_blank" href="https://www.facebook.com/mateusz.wrobel.796" class="mr-2 text-dark">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://github.com/mateuszwwwrobel" class="mr-2 text-dark">
                        <i class="fab fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCqbh_cQEJo81E6RvjHllU5w/videos" class="mr-2 text-dark">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/mateusz-wrobel/" class="mr-2 text-dark">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>


            </div>
    
        </div>
    </div>

 
<!-- END FOOTER -->
