{% extends 'base.html' %}
{% load static %}

{% block body-background %}

    <body style="background-image: url({% static 'img/background.png' %}); background-size: cover;">

{% endblock body-background %}


{% block content %}

    <!-- MAIN -->

    <div class="container">
        <h1 class="poppins-black-font pt-5">CAŁKIEM NOWY</h1>
        <div class="row mb-4">
            <div class="col-md-6">
                <h1 class="playfair-font"><b>CZŁOWIEK</b></h1>
                <p class="text-justify poppins-font-paragraph pt-3">
                    "...wyraźnie z pod starych powiek, patrzę na świat pełen emocji patrzy na swiat całkiem nowy człowiek..."
                </p>
                <a href="{% url 'core:order' %}">
                    <button type="button" class="CTA-button poppins-font-button mt-3 btn btn-danger btn-lg">ZAMÓW PŁYTĘ</button>
                </a>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src='{% static "img/okladka.png" %}'>
            </div>
        </div>
    </div>

    <!-- END MAIN-->

{% endblock content %}
