{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body-background %}

    <body style="background-image: url({% static 'img/background2.jpg' %}); background-size: cover;">

{% endblock body-background %}

{% block content %}

    <!-- MAIN -->
    <div class="row bg-black">
        <div class="col-lg-6 d-flex justify-content-around my-3">
            <h2 class="d-flex align-items-center poppins-black-font-listen">ZAMÓWIENIE</h2>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
        <h5 class="poppins-font-paragraph text-center pt-3"> {{ message }} </h5>
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-4 mt-5 form-group">
                <form action="{% url 'core:order-complete' %}" method="post" id='order-form'>
                    {% csrf_token %}
                    <b>{{ form|crispy }}</b>
                    <hr>
                    <input type="submit" class="btn btn-danger CTA-button" value="Zamawiam!">
                </form>
            </div>
            <div class="col-lg-8 mt-5">
                <img class="img-fluid" src='{% static "img/okladka.png" %}'>
            </div>
        </div>
    </div>

    <!-- END MAIN-->


{% endblock content %}
